name: test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  releases-json:
    uses: ./.github/workflows/releases-json.yml
    with:
      repository: docker/buildx
      artifact_name: buildx-releases-json
      filename: buildx-releases.json
    secrets: inherit

  releases-json-check:
    runs-on: ubuntu-latest
    needs:
      - releases-json
    steps:
      -
        name: Download
        uses: actions/download-artifact@v4
        with:
          name: buildx-releases-json
          path: .
      -
        name: Check file
        run: |
          jq . buildx-releases.json

  releases-json-edge:
    uses: ./.github/workflows/releases-json.yml
    with:
      repository: crazy-max/releases-json-test
      artifact_name: test-edge-releases-json
      filename: test-edge-releases.json
    secrets: inherit

  releases-json-edge-check:
    runs-on: ubuntu-latest
    needs:
      - releases-json-edge
    steps:
      -
        name: Download
        uses: actions/download-artifact@v4
        with:
          name: test-edge-releases-json
          path: .
      -
        name: Check file
        run: |
          jq . test-edge-releases.json

  releases-json-pin:
    uses: ./.github/workflows/releases-json.yml
    with:
      repository: docker/buildx
      artifact_name: buildx-releases-pin-json
      filename: buildx-releases-pin.json
      pin_latest: v0.18.0
    secrets: inherit

  releases-json-pin-check:
    runs-on: ubuntu-latest
    needs:
      - releases-json-pin
    steps:
      -
        name: Download
        uses: actions/download-artifact@v4
        with:
          name: buildx-releases-pin-json
          path: .
      -
        name: Check file
        run: |
          jq . buildx-releases-pin.json

  install-k3s:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Install k3s
        uses: ./.github/actions/install-k3s
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: kubernetes
          driver-opts: qemu.install=true
          buildkitd-flags: --debug

  list-commits:
    uses: ./.github/workflows/list-commits.yml
    with:
      limit: 5
    secrets: inherit

  list-commits-check:
    runs-on: ubuntu-latest
    needs:
      - list-commits
    strategy:
      fail-fast: false
      matrix:
        commit: ${{ fromJson(needs.list-commits.outputs.matrix) }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.commit }}

  container-logs-check:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Run container
        run: |
          docker run -d --name test crazymax/samba:latest
      -
        name: Check container logs
        uses: ./.github/actions/container-logs-check
        with:
          container_name: test
          log_check: " started."
          timeout: 20

  container-logs-check-notfound:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Run container
        run: |
          docker run -d --name test crazymax/samba:latest
      -
        name: Check container logs
        id: check
        continue-on-error: true
        uses: ./.github/actions/container-logs-check
        with:
          container_name: test
          log_check: " foo."
          timeout: 10
      -
        name: Check
        run: |
          if [ "${{ steps.check.outcome }}" != "failure" ] || [ "${{ steps.check.conclusion }}" != "success" ]; then
            echo "::error::Should have failed"
            exit 1
          fi

  container-logs-check-failed:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Run container
        run: |
          docker run -d --name test --entrypoint '' crazymax/samba:latest sh -c "echo 'foo' && exit 1"
      -
        name: Check container logs
        id: check
        continue-on-error: true
        uses: ./.github/actions/container-logs-check
        with:
          container_name: test
          log_check: " foo."
          timeout: 10
      -
        name: Check
        run: |
          if [ "${{ steps.check.outcome }}" != "failure" ] || [ "${{ steps.check.conclusion }}" != "success" ]; then
            echo "::error::Should have failed"
            exit 1
          fi

  docker-scout:
    runs-on: ubuntu-20.04
    if: ${{ github.event_name != 'pull_request' }}
    permissions:
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        format:
          - packages
          - sarif
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Scout
        id: scout
        uses: ./.github/actions/docker-scout
        with:
          image: registry://moby/buildkit:master
          format: ${{ matrix.format }}
      -
        name: Print result
        run: |
          set -x
          cat ${{ steps.scout.outputs.result-file }}
      -
        name: Upload SARIF report
        if: ${{ matrix.format == 'sarif' }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.scout.outputs.result-file }}
